kind: Deployment
apiVersion: apps/v1
metadata:
  name: healthcare-app
  namespace: dpg-hipaa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: healthcare-app
  template:
    metadata:
      labels:
        app: healthcare-app
    spec:
      containers:
        - name: healthcare-app-strapi
          image: ciphertrust/cdsp.cookbook.samples:strapi_hipaa_phi_backend
          imagePullPolicy: Always
          env:
            - name: SERVER_IP
              value: "{{ STRAPI_HOST }}"
          ports:
            - containerPort: 1337
        - name: healthcare-app-ui
          image: ciphertrust/cdsp.cookbook.samples:hipaa_phi_app_ui
          imagePullPolicy: Always
          env:
            - name: API_IP
              value: "{{ API_SERVER_IP }}"
            - name: API_PORT
              value: "{{ API_SERVER_PORT }}"
          ports:
            - containerPort: 3000
        - image: thalesciphertrust/ciphertrust-data-protection-gateway:1.1.0
          imagePullPolicy: IfNotPresent
          name: dpg-container
          env:
           - name: KMS
             value: "{{ KMS_IP }}"
           - name: REG_TOKEN
             value: "{{ REG_TOKEN }}"
           - name: DESTINATION_URL
             value: "{{ DEST_URL }}"
           - name: DPG_PORT
             value: '{{ DPG_PORT }}'
      restartPolicy: Always
---
kind: Service
apiVersion: v1
metadata:
  name: healthcare-app
  namespace: dpg-hipaa
spec:
  type: NodePort
  ports:
    - name: api
      port: 1337
      targetPort: 1337
      protocol: TCP
      nodePort: 31000
    - name: ui
      port: 3000
      targetPort: 3000
      protocol: TCP
      nodePort: 31001
    - name: dpg
      port: {{ DPG_PORT }}
      targetPort: {{ DPG_PORT }}
      nodePort: 31002
  selector:
    app: healthcare-app